<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.cognizant" />

    <mvc:annotation-driven/>

    <!-- To allow we use "default" servlet mapping in web.xml -->
    <mvc:default-servlet-handler/>

	<bean id="appProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="false"/>
        <property name="location" value="classpath:app.properties"/>
	</bean>

    <bean id="SecurityFilter" class="com.cognizant.cdc.filter.SecurityFilter">
        <property name="statusCode" value="401"/>
        <property name="includedPaths">
            <list>
                <map>
                    <entry key="path" value="api/user/info" />
                    <entry key="method" value="get" />
                </map>
                <map>
                    <entry key="path" value="api/job/" />
                    <entry key="method" value="post" />
                </map>
            </list>
        </property>
    </bean>

    <bean id="ReferrerCheckFilter" class="com.cognizant.cdc.filter.ReferrerCheckFilter">
        <property name="excludedPaths">
            <list value-type="java.lang.String">
                <value>weixin/interface</value>
                <value>weixin/oauth2</value>
            </list>
        </property>
    </bean>

</beans>
