
.content-container {
	margin-left: 0;
	margin-right: 0;
	
    .content {
        margin-top: 40px;
    	padding-bottom: 20px;
    	background: #f8f8f8;
    	border-bottom: 2px solid #442E38;
    }
    
    .limit-height {
    	height: 200px;
    	//overflow: hidden;
    	//white-space: nowrap;
    	//text-overflow: ellipsis;
    	//display: inline-block;
    	.text-overflow();
    }
    
    .ellipsis {
		overflow : hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
    }

}

.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagination-container {
    text-align: center;
}


.new-job {

    h4 {
        text-align: center;
    }
}