.job {
    text-align: left;
    padding-bottom: 12px;
    padding-top: 8px;
    border-bottom: 1px dashed lightblue;

    .content {
        margin-top: 8px;

        h6 {
            font-weight: bold;
        }

        .detail {
            cursor: pointer;

            :hover {
                .glyphicon {
                    color: #000000;
                }
            }

            .glyphicon {
                color: #d3d3d3;
            }
        }
    }

    .create-time {
        color: gray;
    }

    .toolbar {
        text-align: right;

        a {
            cursor: pointer;
            margin-left: 8px;
        }
    }

    .profiles {
        margin-top: 10px;

        .arrow {
            .arrow-up(8px, #e3e3e3);
            float: right;
            margin-right: 170px;
            margin-top: -8px;
        }

        table {
            th {
                min-width: 60px;

                &:first-of-type {
                    min-width: 10px;
                }

                &:last-of-type {
                    min-width: 90px;
                }

                a {
                    cursor: pointer;
                    text-decoration: none;
                }
            }


        }
    }

    &:last-of-type {
        border-bottom: none;
    }
}

.job-container {
    text-align: center;
}

.new-job {

    h4 {
        text-align: center;
    }

    .error {
        width: 100%;
        float: left;
        color: red;
    }
}

@preview-height: 402px;
@preview-width: 255px;

.preview {

    .job-container {
        padding: 8px;
    }

    .modal-content {
        box-shadow: none;
        background: none;
        border: none;

        .modal-body {
            padding: 0px;


            .iphone6 {
                background-repeat: no-repeat;
                background-size: 291px 593px;
                height: 593px;
                width: 291px;
                background-image: url("../images/iphone6.png");
            }

            .weixin-header {
                position: absolute;
                left: 17px;
                top: 71px;
                width: @preview-width;
            }

            .preview-panel {
                position: absolute;
                left: 18px;
                top: 120px;
                background-color: white;
                width: @preview-width;
                height: @preview-height;
                border-bottom: 1px solid lightblue;
                overflow: hidden;
                word-wrap: break-word;

                nav {
                    margin-bottom: 0px;
                }

                .wrapper {
                    width: @preview-width + 18px;
                    overflow-y: scroll;
                    height: @preview-height;

                    .job {
                        overflow: hidden;
                        width: @preview-width - 16px;

                        .footer {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}



