<div class="job-container col-xs-12 col-lg-10 col-lg-offset-1">

    <div class="job" id="job-${job.id}" ng-repeat="job in jobs">
        <h4>{{job.title}}</h4>
        <h6>
            <span job-locations locations="job.locations"></span> · <span job-experience from="job.experienceFrom" to="job.experienceTo"></span>
        </h6>
        <div class="content">
            <p>{{job.introduction}}</p>
        </div>
        <div class="footer row">
            <div class="create-time col-xs-4">
                2014-08-06
            </div>
            <div class="toolbar col-xs-8">
                <a>查看简历(0)</a>
                <a href="{{baseUrl}}#/job/{{job.id}}">编辑</a>
                <a>撤下</a>
            </div>
        </div>
    </div>

</div>