<div class="modal-body">
     <div class="iphone6"></div>
     <img class="weixin-header" src="images/weixin_header.png" />
     <div class="preview-panel">
         <div class="wrapper">
             <nav class="navbar navbar-default" role="navigation">
                 <div class="container-fluid">
                     <div class="navbar-header">
                         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#banner-menu">
                             <span class="sr-only">Toggle navigation</span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                         </button>
                         <a class="navbar-brand" href="#">高知特微招聘</a>
                     </div>
                 </div>
             </nav>
            <div class="job">
                <h4>{{job.title}}</h4>
                <h6>
                    工作地点 : <span job-locations="job.locations"></span>
                </h6>
                <h6>
                    经验要求 : <span job-experience from="job.experienceFrom" to="job.experienceTo"></span>
                </h6>
                <h6>
                    学历要求 : <span diploma="job.diploma"></span>
                </h6>
                <div class="content">
                    <p>
                    <h6>职位简介</h6>
                    {{job.introduction}}
                    </p>
                </div>
                <div class="footer row">
                    <div class="create-time col-xs-5">
                        2014-08-06
                    </div>
                    <div class="toolbar col-xs-7">
                        <a href="javascript:void;">申请</a>
                        <a href="javascript:void;">查看详情</a>
                    </div>
                </div>
            </div>
         </div>
     </div>
</div>