<div ng-switch on="jobs.length">
    <div class="job-container col-xs-12 col-lg-10 col-lg-offset-1" ng-switch-when="0">
        <h4 class="no-data">暂时没有职位信息,请耐心等待哦!</h4>
    </div>

    <div class="job-container col-xs-12 col-lg-10 col-lg-offset-1" ng-switch-default>

        <div class="pagination-container">
            <pagination total-items="total" items-per-page="pageSize" ng-model="page.currentPage" max-size="5"
            previous-text="<" next-text=">" first-text="<<" last-text=">>" class="pagination-sm" boundary-links="true"></pagination>
        </div>

        <div class="job" ng-repeat="job in jobs">
            <h4>{{job.title}}</h4>
            <h6>
                工作地点 : {{ job.locations | locationString }}
            </h6>
            <h6>
                经验要求 : <span job-experience from="job.experienceFrom" to="job.experienceTo"></span>
            </h6>
            <h6>
                学历要求 : {{job.diploma | diplomaString}}
            </h6>
            <div class="content">
                <h6>职位简介</h6>
                <p>{{job.introduction}}</p>
            </div>
            <div class="footer row">
                <div class="create-time col-xs-6">
                    {{job.createTime | timeString}}
                </div>
                <div class="toolbar col-xs-6">
                    <a href="#/resume/{{job.id}}">申请</a>
                    <a href="#/job/{{job.id}}">查看详情</a>
                </div>
            </div>
        </div>

        <div class="pagination-container">
            <pagination total-items="total" items-per-page="pageSize" ng-model="page.currentPage" max-size="5"
            previous-text="<" next-text=">" first-text="<<" last-text=">>" class="pagination-sm" boundary-links="true"></pagination>
        </div>
    </div>
</div>