<div class="job-container col-xs-12 col-lg-10 col-lg-offset-1">
    <div class="job">
        <h4>{{job.title}}</h4>
        <h6>
            类型 : {{ job.type | recruitTypeString }}
        </h6>
        <h6>
            工作地点 : {{ job.locations | locationString }}
        </h6>
        <h6>
            经验要求 : <span job-experience from="job.experienceFrom" to="job.experienceTo"></span>
        </h6>
        <h6>
            学历要求 : {{job.diploma | diplomaString}}
        </h6>
        <div class="content">
            <h6>详细内容</h6>
            <div ng-bind-html="job.content | trustAsHtml"></div>
        </div>
        <div class="footer row">
            <div class="create-time col-xs-6">
                {{job.createTime | timeString}}
            </div>
            <div class="toolbar col-xs-6">
                <a href="#/resume/{{job.id}}">申请</a>
                <a href="#/jobs">返回列表</a>
            </div>
        </div>
    </div>
</div>