<div class="search col-xs-12 col-lg-10 col-lg-offset-1 container-fluid">
    <div class="panel panel-default animated" ng-class="" ng-show="searchOpen">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-6">
                    <label for="keyword">关键字</label>
                    <input id="keyword" name="keyword" type="text" class="form-control" placeholder="关键字" ng-model="search.keyword" />
                </div>
                <div class="form-group col-xs-6">
                    <label for="location">工作地点</label>
                    <select id="location" name="location" class="form-control" ng-model="search.location" ng-options="location for location in data.locations">
                        <option value="">不限</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-6">
                    <label for="experienceFrom">经验要求</label>
                    <select id="experienceFrom" name="experienceFrom" class="form-control" ng-model="search.from" ng-options="(experience + '年及以上') for experience in ['1','2','3','4','5','6','7','8']">
                        <option value="">不限</option>
                    </select>
                </div>
                <div class="form-group col-xs-6">
                    <label for="diploma">学历要求</label>
                    <select id="diploma" class="form-control" ng-model="search.diploma" ng-options="(diploma | localized) for diploma in data.diploma">
                        <option value="">不限</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <button class="btn btn-success" ng-click="searchJob()">搜索</button>
            <span class="fix-width-8px"></span>
            <button class="btn btn-warning" ng-click="clearSearch()">重置</button>
            <span class="fix-width-8px"></span>
            <button class="btn btn-default" ng-click="searchOpen = false">关闭</button>
        </div>
    </div>

    <div class="filter-toggle">
        <span class="label label-success" ng-show="total" ng-bind="'共' + total + '条'"></span>
        <span class="label label-warning" ng-show="hasSearchCriteria == true" ng-bind="'有过滤条件'"></span>
        <button class="btn btn-success pull-right" ng-click="searchOpen = true">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
</div>

<div ng-switch on="jobs == undefined || jobs.length == 0">

    <div class="job-container col-xs-12 col-lg-10 col-lg-offset-1" ng-switch-when="true">
        <h4 class="no-data">{{message}}</h4>
    </div>

    <div class="job-container col-xs-12 col-lg-10 col-lg-offset-1" ng-switch-default>

        <div class="job" ng-repeat="job in jobs">
            <h3 ng-bind="job.title"></h3>
            <h6>
                工作地点 : <span ng-bind="job.locations | locationString"></span>
            </h6>
            <h6>
                经验要求 : <span job-experience from="job.experienceFrom" to="job.experienceTo"></span>
            </h6>
            <h6>
                学历要求 : <span ng-bind="job.diploma | localized"></span>
            </h6>
            <div class="content">
                <h6>职位简介</h6>
                <p ng-bind="job.introduction"></p>
            </div>
            <div class="footer row">
                <div class="create-time col-xs-6">
                    <span ng-bind="job.createTime | timeString"></span>
                </div>
                <div class="toolbar col-xs-6">
                    <a href="#/profile/{{job.id}}">申请</a>
                    <a href="#/job/{{job.id}}">查看详情</a>
                </div>
            </div>
        </div>

        <pagination total-items="total" items-per-page="pageSize" ng-model="search.page" max-size="5"
        previous-text="·" next-text="·" first-text="··" last-text="··" class="pagination-sm" boundary-links="true"></pagination>
    </div>
</div>