<form name="jobForm" class="form-horizontal new-job col-lg-10 col-lg-offset-1 animated fadeInUp" role="form" ng-submit="submitJob()" novalidate>
    <h4>{{ showTitle() }}</h4>
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">职位名称</label>
        <div class="col-sm-8">
            <input name="title" class="form-control" id="title" placeholder="职位名称" ng-model="job.title" ng-required="true">
            <span ng-show="jobForm.title.$error.required && validated" class="error">职位名称不能为空</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">招聘类型</label>
        <div class="btn-group col-sm-8">
            <label class="btn btn-default btn-sm" btn-radio="'talent'" ng-model="job.type">社会招聘</label>
            <label class="btn btn-default btn-sm" btn-radio="'graduate'" ng-model="job.type">校内招聘</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">经验要求</label>
        <div class="col-sm-8" style="margin-top: 6px;">
            <span slider ng-disabled="!experienceEnabled" ng-model="data.experience" min="0" max="16" range="true" tooltip="hide"></span>
            <span class="fix-width-16px"><b job-experience from="job.experienceFrom" to="job.experienceTo"></b></span>
            <small class="fix-width-16px color-light-gray" ng-hide="experienceEnabled">校园招聘时默认经验要求为 0</small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">工作地点</label>
        <div name="locations" class="btn-group col-sm-8" form-required="true" ng-model="job.locations">
            <label class="btn btn-default btn-sm" ng-model="data.selectedLocations[location]" btn-checkbox  ng-repeat="location in data.locations">{{location}}</label>
            <span ng-show="jobForm.locations.$error.required && validated" class="error">至少选择一个工作地点</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">学历要求</label>
        <div class="col-sm-8">
            <select class="form-control" ng-model="job.diploma" ng-options="(diploma | localized) for diploma in data.diploma">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="hr" class="col-sm-2 control-label">分管人事</label>
        <div class="col-sm-8">
            <select name="hr" id="hr" class="form-control" ng-model="job.userId" ng-options="user.id as user.userName for user in data.users" ng-required="true">
            </select>
            <span ng-show="jobForm.hr.$error.required && validated" class="error">分管人事必选</span>
        </div>
    </div>

    <div class="form-group">
        <label for="introduction" class="col-sm-2 control-label">工作简单介绍</label>
        <div class="col-sm-8">
            <input name="introduction" class="form-control" id="introduction" placeholder="工作简单介绍" ng-model="job.introduction" ng-required="true">
            <span ng-show="jobForm.introduction.$error.required && validated" class="error">工作简单介绍不能为空</span>
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="col-sm-2 control-label">职责介绍</label>
        <div class="col-sm-8">
            <div simditor name="content" id="content" ng-model="job.content" toolbar="['title', 'bold', 'italic', 'underline', 'strikethrough', '|', 'ol', 'ul', 'blockquote', 'table']" ng-required="true"></div>
            <span ng-show="jobForm.content.$error.required && validated" class="error">职责介绍不能为空</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">保存</button>
            <span class="fix-width-8px"></span>
            <button type="button" class="btn btn-warning" ng-disabled="jobForm.$invalid" ng-click="preview()">预览</button>
            <span class="fix-width-8px"></span>
            <button type="button" class="btn btn-default" ng-click="goBack()">返回</button>
        </div>
    </div>
</form>