<div class="search col-xs-12 col-lg-10 col-lg-offset-1">
    <div class="panel panel-default animated" ng-class="" ng-show="searchOpen">
        <div class="panel-body">
            <div class="form-group">
                <label for="keyword">关键字</label>
                <input id="keyword" name="keyword" type="text" class="form-control" placeholder="关键字" ng-model="search.keyword"/>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-success" ng-click="searchJob();">搜索</button>
            <span class="fix-width-8px"></span>
            <button class="btn btn-default" ng-click="searchOpen = false">关闭</button>
        </div>
    </div>

    <div class="filter-toggle">
        <span class="label label-success" ng-show="total" ng-bind="'共' + total + '条'"></span>
        <span class="label label-warning" ng-show="hasSearchCriteria == true" ng-bind="'有过滤条件'"></span>
        <button class="btn btn-success pull-right" ng-click="searchOpen = true">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
</div>

<div ng-switch on="jobs == undefined || jobs.length == 0">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1" ng-switch-default>
        <h4 class="no-data">{{message}}</h4>
    </div>

    <div class="job-container col-xs-12 col-lg-10 col-lg-offset-1 animated" ng-switch-when="false">

        <div class="pagination-container">
            <pagination total-items="total" items-per-page="pageSize" ng-model="search.page" max-size="5"
            previous-text="·" next-text="·" first-text="··" last-text="··" class="pagination-sm" boundary-links="true"></pagination>
        </div>

        <div class="job-container">
            <div class="job" ng-repeat="job in ::jobs">
                <h3 ng-bind="job.title"></h3>
                <h6>
                    <span ng-bind="job.type | localized"></span> ·
                    <span ng-bind="job.locations | locationString"></span> ·
                    <span ng-bind="job.diploma | localized"></span> ·
                    <span job-experience from="job.experienceFrom" to="job.experienceTo"></span>
                </h6>
                <div class="content">
                    <h6>简介</h6>
                    <p ng-bind="job.introduction"></p>
                    <span class="detail" ng-click="showContent = !showContent" title="点击显示或关闭详细内容">
                        <h6>
                            详细内容
                            <span ng-show="!showContent" class="glyphicon glyphicon-chevron-down"></span>
                            <span ng-show="showContent" class="glyphicon glyphicon-chevron-up"></span>
                        </h6>
                    </span>
                    <div ng-show="showContent" ng-bind-html="job.content | trustAsHtml"></div>
                </div>
                <div class="footer row">
                    <div class="create-time col-xs-4">
                        <span ng-bind="job.createTime | timeString"></span>
                    </div>
                    <div class="toolbar col-xs-8">
                        <a>查看简历(0)</a>
                        <a href="#/job/{{job.id}}">编辑</a>
                        <a ng-click="deleteJob(job)">删除</a>
                        <a>停止招聘</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination-container">
            <pagination total-items="total" items-per-page="pageSize" ng-model="search.page" max-size="5"
            previous-text="·" next-text="·" first-text="··" last-text="··" class="pagination-sm" boundary-links="true"></pagination>
        </div>
    </div>
</div>