<div class="modal-body">
     <div class="iphone6"></div>
     <img class="weixin-header" src="images/weixin_header.png" />
     <div class="preview-panel">
         <div class="wrapper">
             <nav class="navbar navbar-default" role="navigation">
                 <div class="container-fluid">
                     <div class="navbar-header">
                         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#banner-menu">
                             <span class="sr-only">Toggle navigation</span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                         </button>
                         <a class="navbar-brand" href="javascript:void;">高知特微招聘</a>
                     </div>
                 </div>
             </nav>
            <div class="job-container">
                <div class="job">
                    <h3 ng-bind="::job.title"></h3>
                    <h6>
                        类型 : <span ng-bind="::job.type | localized"></span>
                    </h6>
                    <h6>
                        工作地点 : <span ng-bind="::job.locations | locationString"></span>
                    </h6>
                    <h6>
                        经验要求 : <span job-experience from="::job.experienceFrom" to="::job.experienceTo"></span>
                    </h6>
                    <h6>
                        学历要求 : <span ng-bind="::job.diploma | localized"></span>
                    </h6>
                    <div class="content">
                        <h6>职位简介</h6>
                        <p ng-bind="::job.introduction"></p>
                        <div ng-show="showContent">
                            <h6>详细内容</h6>
                            <div ng-bind-html="::job.content | trustAsHtml"></div>
                        </div>
                    </div>
                    <div class="footer row">
                        <div class="create-time col-xs-6">
                            <span ng-bind="::job.createTime | timeString"></span>
                        </div>
                        <div class="toolbar col-xs-6">
                            <a href="javascript:void;">申请</a>
                            <a href="" ng-click="showContent = !showContent">查看详情</a>
                        </div>
                    </div>
                </div>

            </div>
         </div>
     </div>
</div>