<div ng-switch on="jobs == undefined || jobs.length == 0">
    <div class="job-container col-xs-12 col-lg-10 col-lg-offset-1" ng-switch-when="true">
        <h4 class="no-data">{{message}}</h4>
    </div>

    <div class="job-container col-xs-12 col-lg-10 col-lg-offset-1" ng-switch-default>

        <div class="pagination-container">
            <pagination total-items="total" items-per-page="pageSize" ng-model="page.currentPage" max-size="5"
            previous-text="<" next-text=">" first-text="<<" last-text=">>" class="pagination-sm" boundary-links="true"></pagination>
        </div>

        <div class="job animated fadeIn" ng-repeat="job in jobs">
            <h4>{{job.title}}</h4>
            <h6>
                <span>{{job.type | recruitTypeString}}</span> ·
                <span>{{job.locations | locationString}}</span> ·
                <span>{{job.diploma | diplomaString}}</span> ·
                <span job-experience from="job.experienceFrom" to="job.experienceTo"></span>
            </h6>
            <div class="content">
                <h6>简介</h6>
                <p>{{job.introduction}}</p>
                <h6>详细内容</h6>
                <div ng-bind-html="job.content | trustAsHtml"></div>
            </div>
            <div class="footer row">
                <div class="create-time col-xs-4">
                    <span>{{job.createTime | timeString}}</span>
                </div>
                <div class="toolbar col-xs-8">
                    <a>查看简历(0)</a>
                    <a href="#/job/{{job.id}}">编辑</a>
                    <a ng-click="deleteJob(job)">删除</a>
                    <a>已失效</a>
                </div>
            </div>
        </div>

        <div class="pagination-container">
            <pagination total-items="total" items-per-page="pageSize" ng-model="page.currentPage" max-size="5"
            previous-text="<" next-text=">" first-text="<<" last-text=">>" class="pagination-sm" boundary-links="true"></pagination>
        </div>
    </div>
</div>