<div class="job-container col-xs-12 col-lg-10 col-lg-offset-1">

    <div class="pagination-container">
        <pagination total-items="total" items-per-page="pageSize" ng-model="currentPage" max-size="5"
        previous-text="<" next-text=">" first-text="<<" last-text=">>" class="pagination-sm" boundary-links="true"></pagination>
    </div>

    <div class="job animated fadeIn" ng-repeat="job in jobs">
        <h4>{{job.title}}</h4>
        <h6>
            <span job-locations="job.locations"></span> · <span job-experience from="job.experienceFrom" to="job.experienceTo"></span>
        </h6>
        <div class="content">
            <p>{{job.introduction}}</p>
        </div>
        <div class="footer row">
            <div class="create-time col-xs-4">
                <span time="job.createTime"></span>
            </div>
            <div class="toolbar col-xs-8">
                <a>查看简历(0)</a>
                <a href="#/job/{{job.id}}">编辑</a>
                <a ng-click="deleteJob(job)">删除</a>
                <a>已过期</a>
            </div>
        </div>
    </div>

    <div class="pagination-container">
        <pagination total-items="total" items-per-page="pageSize" ng-model="currentPage" max-size="5"
        previous-text="<" next-text=">" first-text="<<" last-text=">>" class="pagination-sm" boundary-links="true"></pagination>
    </div>
</div>