
<div class="col-xs-12 col-lg-10 col-lg-offset-1 message" ng-hide="users">
    <h4 class="no-data">数据加载中。。。</h4>
</div>


<div class="user-container col-xs-12 col-lg-10 col-lg-offset-1 animated fadeInDown" ng-show="users">

    <div class="toolbar">
        <a href="#/users/0"  class="btn btn-success">新建用户</a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>用户名</th>
            <th>联系方式</th>
            <th>创建时间</th>
            <th>Admin</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users | orderBy:predicate:reverse">
            <td>{{ $index + 1 }}</td>
            <td>{{ user.userName }}</td>
            <td>{{ user.contact }}</td>
            <td>{{ user.createTime | timeString }}</td>
            <td><span ng-show="user.isAdmin" span class="glyphicon glyphicon-check"></span></td>
            <td><a ng-href="#/users/{{user.id}}" ng-click="">更新用户</a></td>
        </tr>
        </tbody>
    </table>

</div>

